@layer reset {
	Add commentMore actions *,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	html {
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}

	body,
	h1,
	h2,
	h3,
	h4,
	p,
	figure,
	blockquote,
	dl,
	dd {
		margin-block-end: 0;
	}

	dd {
		margin-inline: 0;
	}

	body {
		margin: 0;
		padding: 0;
	}

	ul[role="list"],
	ol[role="list"] {
		list-style: none;
	}

	body {
		line-height: 1.5;
	}

	h1,
	h2,
	h3,
	h4,
	button,
	input,
	label {
		line-height: 1.1;
	}

	h1,
	h2,
	h3,
	h4 {
		text-wrap: balance;
	}

	a:not([class]) {
		text-decoration-skip-ink: auto;
		color: currentColor;
	}

	img,
	picture {
		max-width: 100%;
		display: block;
	}

	figure {
		margin: 0;
		padding: 0;
	}

	dialog {
		padding: 0;
	}

	input,
	button,
	textarea,
	select {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		letter-spacing: inherit;
	}

	textarea:not([rows]) {
		min-height: 10em;
	}

	:target {
		scroll-margin-block: 5ex;
	}
}

@layer base {
	:root {
		--ff: "Inter", sans-serif;
		--letter-spacing: -0.05em;

		--step--2: 0.5rem;
		--step--1: 0.5625rem;
		--step: 0.625rem;
		--step-0: 0.75rem;
		--step-1: 0.8125rem;
		--step-2: 0.875rem;
		--step-3: 1.125rem;

		--lh-1: 1.143;
		--lh-2: 1.25;
		--lh-3: 1.285;
		--lh-4: 1.333;

		--radius-s: 6px;
		--radius-m: 10px;
		--radius-l: 24px;

		--spacing-xxxs: 4px;
		--spacing-xxs: 6px;
		--spacing-xs: 8px;
		--spacing-x: 10px;
		--spacing-m: 12px;
		--spacing-l: 16px;
		--spacing-xl: 20px;
		--spacing-xxl: 24px;
		--spacing-xxxl: 30px;
		--spacing-big: 40px;

		--cu-black-pure: #000000;
		--cu-black-dark: #1c1b1f;
		--cu-black-darker: #150a12;
		--cu-black-darkblue: #293a4c;

		--cu-grey-light: #eae9e9;
		--cu-grey-dark: #c2c2c2;
		--cu-grey-darker: #676767;
		--cu-grey-darkest: #787676;
		--cu-grey-bluish: #8393a3;

		--cu-white-pure: #ffffff;
		--cu-white-light: #f7f7f7;
		--cu-white-offish: #f6f6f6;
		--cu-white-off-white: #f2f2f2;

		--cu-accent-orange: #ff8800;
		--cu-accent-pink: #ff00b7;
		--cu-accent-blue: #5eb5f7;
		--cu-accent-skyblue: #0daaed;
		--cu-accent-brightgreen: #59ff00;
		--cu-accent-yellowgreen: #83c433;
		--cu-accent-cyan: #00ffea;
		--cu-accent-darkgreen: #0a926c;
		--cu-accent-green: #0db686;
		--cu-accent-lightgreen: #0adca1;
		--cu-accent-purple: #9000ff;

		--cu-hover-pink: #f8f3f8;
		--cu-hover-purple: #f5f3f8;
		--cu-hover-skyblue: #f3f7f8;
		--cu-hover-yellowgreen: #f7f8f3;
	}

	body {
		background: linear-gradient(
			to right,
			var(--cu-white-offish) 99.7%,
			var(--cu-grey-light) 99.7%
		);
		background-size: calc(100% / 3) 100%;
		font-family: var(--ff);
		font-size: var(--step-2);
		letter-spacing: var(--letter-spacing);
		color: var(--cu-black-pure);
	}
}

@layer structure {
	.bar {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
		min-height: 100vh;
	}
}

@layer styling {
	.icon {
		background: transparent;
		border: none;
		padding: 0;

		svg {
			vertical-align: top;
		}
	}

	button.icon {
		&[data-state="active"] {
			svg:last-child {
				display: none;
			}
		}

		&[data-state="inactive"] {
			svg:first-child {
				display: none;
			}
		}
	}

	.switcher {
		background: var(--cu-black-darkblue);
		border-radius: var(--radius-l);
		padding: var(--spacing-xxxs) var(--spacing-x);
		position: fixed;
		bottom: 40px;
		right: 32px;
	}

	button {
		cursor: pointer;
	}

	.header {
		padding-inline: var(--spacing-big);
		padding-block: var(--spacing-m);
		position: relative;

		.link-bar {
			margin: 0;
			padding: 0;
			list-style-type: none;
			font-weight: 600;

			.hover-board {
				cursor: pointer;
				padding-inline-end: var(--spacing-xxl);
				padding-block: var(--spacing-m);
			}

			.hover-link {
				color: var(--cu-black-pure);
			}

			a {
				text-decoration: none;
			}
		}

		.dropdown-wrapper {
			padding-block-start: var(--spacing-xxxl);
			position: absolute;
			z-index: 5;
			top: 70%;

			transform: translateX(calc(var(--position) * 1px));
			transition: transform 0.2s linear;
			max-width: 357px;

			&[data-visible="false"] {
				display: none;
			}

			&[data-type="one"] {
				--color: var(--cu-accent-pink);
				--color-hover: var(--cu-hover-pink);

				& > .dropdown > * {
					display: none;
				}

				.dropdown > .one {
					display: block;
				}
			}

			&[data-type="two"] {
				max-width: 489px;
				--color: var(--cu-accent-purple);
				--color-hover: var(--cu-hover-purple);

				& > .dropdown > * {
					display: none;
				}

				.dropdown > .two {
					display: block;
				}
			}

			&[data-type="three"] {
				--color: var(--cu-accent-skyblue);
				--color-hover: var(--cu-hover-skyblue);

				& > .dropdown > * {
					display: none;
				}

				.dropdown > .three {
					display: block;
				}
			}

			&[data-type="four"] {
				--color: var(--cu-accent-yellowgreen);
				--color-hover: var(--cu-hover-yellowgreen);

				& > .dropdown > * {
					display: none;
				}

				.dropdown > .four {
					display: block;
				}
			}
		}

		.dropdown {
			border-radius: 10px;
			background: var(--cu-white-light);
			box-shadow: 15px 20px 30px 12px rgba(196, 193, 193, 0.25);
			padding-block: 12px 16px;
			position: relative;

			.info-board {
				.heading {
					text-transform: uppercase;
					font-size: var(--step-0);
					font-weight: 500;
					color: var(--color);
					margin: 0;
					margin-inline-start: var(--spacing-xxs);
				}

				.links-projects {
					display: flex;
					gap: var(--spacing-xxl);
				}

				.link-holders {
					margin-block-start: var(--spacing-m);
					display: grid;
					grid-template-columns: 1fr 1fr;
					gap: var(--spacing-m);

					a {
						display: flex;
						flex-direction: column;
						gap: var(--spacing-xxxs);
						border-left: 3px solid var(--color);
						border-radius: 0 var(--radius-m) var(--radius-m) 0;
						padding: var(--spacing-xxs) var(--spacing-m);
						text-decoration: none;

						.title {
							font-size: var(--step-2);
							font-weight: 500;
							color: var(--cu-black-pure);
						}

						.text {
							font-size: var(--step-0);
							color: var(--cu-grey-bluish);
						}

						&:hover {
							background: var(--color-hover);

							.title {
								color: var(--color);
							}
						}
					}
				}

				.projects {
					display: flex;
					flex-direction: column;
					margin-inline-end: var(--spacing-xxl);

					p,
					a {
						margin-block-end: var(--spacing-m);
						font-size: var(--step-0);
						text-wrap: nowrap;
					}
					p {
						font-weight: 600;
						color: var(--cu-black-pure);
					}

					a {
						text-decoration: none;
						color: var(--cu-grey-darkest);
					}
				}

				.info-holder {
					margin-block-start: var(--spacing-xxl);
					padding-inline: var(--spacing-m);

					display: flex;
					flex-wrap: wrap;
					align-items: start;

					& > * {
						flex: 1 1 50%;
					}

					h6 {
						font-size: var(--step-2);
						margin: 0;

						a {
							text-decoration: none;

							&:hover {
								text-decoration: underline;
							}
						}
					}

					p {
						margin: 0;
					}

					p:first-of-type {
						text-align: end;
						font-size: var(--step-0);
					}
				}
			}

			&::before {
				content: "";
				display: inline-block;
				width: 15px;
				height: 15px;
				background: var(--color);
				border-radius: 50%;
				position: absolute;
				top: -20px;
				left: 10%;
			}

			&::after {
				content: "";
				display: inline-block;
				width: 7px;
				height: 7px;
				background: var(--color);
				border-radius: 50%;
				position: absolute;
				top: -26px;
				left: 14%;
			}
		}
	}

	#identifier {
		span {
			display: inline-block;
			font-size: 16px;
			line-height: 1.625;
			padding-inline: var(--spacing-x);
		}

		span:first-child {
			background: var(--cu-accent-orange);
		}
		span:last-child {
			background: var(--cu-accent-pink);
		}
	}

	.btn {
		border: none;
		font-size: var(--step);
		line-height: var(--lh-4);
		/* padding-block: var(--spacing-xxxs); */

		&.orange {
			background: var(--cu-accent-orange);
			color: var(--cu-black-darker);
		}

		&.purple {
			background: var(--cu-accent-purple);
			color: var(--cu-white-light);
		}

		&.pink {
			background: var(--cu-accent-pink);
			color: var(--cu-black-darker);
		}

		&.cyan {
			background: var(--cu-accent-cyan);
			color: var(--cu-black-darker);
		}

		&.green {
			background: var(--cu-accent-brightgreen);
			color: var(--cu-black-darker);
		}
	}

	.card-container {
		--diff: 0;

		display: flex;
		align-items: center;
		justify-content: center;
		gap: var(--spacing-l);

		.card {
			width: 240px;
			border-radius: var(--radius-m);
			background: var(--cu-white-pure);
			display: grid;
			gap: var(--spacing-xxs);
			padding: var(--spacing-xs);
			box-shadow: 15px 20px 30px 12px rgba(196, 193, 193, 0.25);
			flex-shrink: 0;

			.box {
				width: 100%;
				aspect-ratio: 56 / 37;
				background: var(--cu-white-off-white);
				border-radius: var(--radius-s);
				margin-block-end: var(--spacing-xxs);
			}

			h2,
			p {
				margin: 0;
				color: var(--cu-black-pure);
			}

			p {
				color: var(--cu-grey-darker);
				margin-block: var(--spacing-xxs);
			}

			.btn {
				width: 100%;
			}

			&[data-size="big"] {
				h2 {
					font-size: var(--step-3);
					line-height: var(--lh-2);
				}

				p {
					font-size: var(--step-0);
					line-height: var(--lh-4);
				}
			}

			&[data-size="medium"] {
				width: 180px;

				h2 {
					font-size: var(--step-1);
					line-height: var(--lh-2);
				}

				p {
					font-size: var(--step);
					line-height: var(--lh-4);
				}
			}

			&[data-size="small"] {
				width: 162px;

				h2 {
					font-size: var(--step-0);
					line-height: var(--lh-4);
				}

				p {
					font-size: var(--step--2);
					line-height: var(--lh-2);
				}
			}
		}

		&[data-direction="horizontal"] {
			flex-direction: row;
			transform: translateX(calc(var(--diff) * -1px));
		}

		&[data-direction="vertical"] {
			flex-direction: column;
			transform: translateY(calc(var(--diff) * -1px));

			.card {
				display: flex;
				align-items: center;

				.box {
					aspect-ratio: 227 / 100;
					margin: 0;
					height: 100%;
				}

				&[data-size="big"] {
					width: 624px;
				}

				&[data-size="medium"] {
					width: 540px;
				}

				&[data-size="small"] {
					width: 452px;
				}
			}
		}
	}

	main {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		height: 720px;

		mask-image: linear-gradient(to bottom, black 90%, transparent),
			linear-gradient(to top, transparent 10%, black 80%, transparent);
	}

	.talking-point {
		p {
			max-width: 480px;
			margin-block-start: var(--spacing-xxxl);
			margin-inline: auto;
			padding-block-end: var(--spacing-big);
		}
	}
}
