@layer reset {
	Add commentMore actions *,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	html {
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}

	body,
	h1,
	h2,
	h3,
	h4,
	p,
	figure,
	blockquote,
	dl,
	dd {
		margin-block-end: 0;
	}

	dd {
		margin-inline: 0;
	}

	body {
		margin: 0;
		padding: 0;
	}

	ul[role="list"],
	ol[role="list"] {
		list-style: none;
	}

	body {
		line-height: 1.5;
	}

	h1,
	h2,
	h3,
	h4,
	button,
	input,
	label {
		line-height: 1.1;
	}

	h1,
	h2,
	h3,
	h4 {
		text-wrap: balance;
	}

	a:not([class]) {
		text-decoration-skip-ink: auto;
		color: currentColor;
	}

	img,
	picture {
		max-width: 100%;
		display: block;
	}

	figure {
		margin: 0;
		padding: 0;
	}

	dialog {
		padding: 0;
	}

	input,
	button,
	textarea,
	select {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		letter-spacing: inherit;
	}

	textarea:not([rows]) {
		min-height: 10em;
	}

	:target {
		scroll-margin-block: 5ex;
	}
}

@layer base {
	:root {
		--ff: "Inter", sans-serif;
		--letter-spacing: -0.05em;

		--step--2: 0.5rem;
		--step--1: 0.5625rem;
		--step-0: 0.75rem;
		--step-1: 0.8125rem;
		--step-2: 0.875rem;
		--step-3: 1.125rem;

		--lh-1: 1.143;
		--lh-2: 1.25;
		--lh-3: 1.285;
		--lh-4: 1.333;

		--radius-s: 6px;
		--radius-m: 10px;
		--radius-l: 24px;

		--spacing-xxxs: 4px;
		--spacing-xxs: 6px;
		--spacing-xs: 8px;
		--spacing-x: 10px;
		--spacing-m: 12px;
		--spacing-l: 16px;
		--spacing-xl: 20px;
		--spacing-xxl: 24px;
		--spacing-xxxl: 30px;
		--spacing-big: 40px;

		--cu-black-pure: #000000;
		--cu-black-dark: #1c1b1f;
		--cu-black-darker: #150a12;
		--cu-black-darkblue: #293a4c;

		--cu-grey-light: #eae9e9;
		--cu-grey-dark: #c2c2c2;
		--cu-grey-darker: #676767;
		--cu-grey-bluish: #8393a3;

		--cu-white-pure: #ffffff;
		--cu-white-light: #f7f7f7;
		--cu-white-offish: #f6f6f6;
		--cu-white-off-white: #f2f2f2;

		--cu-accent-orange: #ff8800;
		--cu-accent-pink: #ff00b7;
		--cu-accent-blue: #5eb5f7;
		--cu-accent-brightgreen: #59ff00;
		--cu-accent-cyan: #00ffea;
		--cu-accent-darkgreen: #0a926c;
		--cu-accent-green: #0db686;
		--cu-accent-lightgreen: #0adca1;
		--cu-accent-purple: #9000ff;
	}

	body {
		background: linear-gradient(
			to right,
			var(--cu-white-offish) 99.7%,
			var(--cu-grey-light) 99.7%
		);
		background-size: calc(100% / 3) 100%;
		font-family: var(--ff);
		font-size: var(--step-2);
		letter-spacing: var(--letter-spacing);
		color: var(--cu-black-pure);
	}
}

@layer structure {
	.bar {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

@layer styling {
	.icon {
		svg {
			vertical-align: top;
		}
	}

	.header {
		padding-inline: var(--spacing-big);
		padding-block: var(--spacing-m);
		position: relative;

		.link-bar {
			margin: 0;
			padding: 0;
			list-style-type: none;
			font-weight: 600;

			.hover-board {
				cursor: pointer;
				padding-inline-end: var(--spacing-xxl);
				padding-block: var(--spacing-m);
			}

			a {
				text-decoration: none;
			}
		}

		.dropdown {
			position: absolute;
			top: 75%;
			background: var(--cu-white-light);
			box-shadow: 15px 20px 30px 12px rgba(196, 193, 193, 0.25);
			padding-block: 12px 16px;
			padding-inline: 12px;
			border-radius: 10px;
			transition: left 0.2s ease-in;
			border: 1px solid red;

			&[data-visible="false"] {
				display: none;
			}

			&[data-type="one"] {
				& > * {
					display: none;
				}

				.one {
					display: block;
				}
			}

			&[data-type="two"] {
				& > * {
					display: none;
				}

				.two {
					display: block;
				}
			}

			&[data-type="three"] {
				& > * {
					display: none;
				}

				.three {
					display: block;
				}
			}

			&[data-type="four"] {
				& > * {
					display: none;
				}

				.four {
					display: block;
				}
			}
		}
	}

	#identifier {
		span {
			display: inline-block;
			font-size: 16px;
			line-height: 1.625;
			padding-inline: var(--spacing-x);
		}

		span:first-child {
			background: var(--cu-accent-orange);
		}
		span:last-child {
			background: var(--cu-accent-pink);
		}
	}
	article {
		p {
			/* line-height: var(--lh-3); */
			max-width: 480px;
			margin-block-start: var(--spacing-xxxl);
			margin-inline: auto;
		}
	}
}
